<% layout('layout') -%>
<h2>Category: <%= category.name %></h2>
<div class="grid">
  <% products.forEach(p=> { %>
    <div class="card">
      <h3><a href="/product/<%= p.id %>"><%= p.name %></a></h3>
      <p class="price">₦<%= (p.price_cents/100).toFixed(2) %></p>
    </div>
  <% }) %>
</div>